/* universal selector */
* {
    font-family : Courier New;
}

/* selector by element */
h1 {
    color : #1b74e4;
}

/* selector by ID */
#searchbtn {
    background-color : black;
    color : white;
}

/* selector by class */
.userbtn {
    background-color : aqua;
}